<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>ToDoList</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		<script src="js/jquery-1.7.2.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="container" id="box">
			<form role="form">
				<div class="form-group">
					 <label for="username">用户名</label>
					 <input type="text"  id="username"class="form-control" placeholder="输入用户名" v-model="username"/>
				</div>
				<div class="form-group">
					 <label for="age">年龄</label>
					 <input type="text"  id="age"class="form-control" placeholder="输入年龄" v-model="age"/>
				</div>
				<div class="form-group">
					<input type="button"  value="添加" class="btn btn-primary" v-on:click='add()'/>
					<input type="reset"  value="重置" class="btn btn-danger" />
				</div>
			</form>
			<hr />
			<table class="table table-bordered table-hover">
				<caption class="h3 text-info text-center">用户信息表</caption>
				<tr>
					<th class="text-center">序号</th>
			        <th class="text-center">名字</th>
			        <th class="text-center">年龄</th>
			        <th class="text-center">操作</th>
				</tr>
				<tr class="text-center" v-for="item in myData" >
					<td>{{$index+1}}</td>
					<td>{{item.name}}</td>
					<td>{{item.age}}</td>
					<td class="text-right">
						<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#layer" v-on:click="nowIndex=$index">删除</button>
					</td>
				</tr>
				<tr v-show="myData.length!=0">
					<td colspan="4" class="text-right">
						<button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#layer" v-on:click="deleteMsg(-2)">删除全部</button>
					</td>
				</tr>
				<tr v-show='myData.length==0'>
					<td colspan="4" class="text-center text-muted">
						<p>暂无数据...</p>
					</td>
				</tr>
			</table>
			<!--
            	作者：thumbchan@163.com
            	描述：模态框==>弹出层
           -->      
            <div role="dialog" class="modal fade" id="layer" data-index="{{nowIndex}}">
            	<div class="modal-dialog">
            		<div class="modal-content">
            			<div class="modal-header">
            				<button class="close" type="button" data-dismiss="modal">
            					<span>&times;</span>
            				</button>
            				<h4 class="modal-tittle">确认删除吗？</h4>
            				<div class="modal-body text-right">
            					<button class="btn btn-primary btn-sm" data-dismiss="modal">取消</button>
            					<button class="btn btn-danger btn-sm" data-dismiss="modal" v-on:click="deleteMsg(nowIndex)">确认</button>
            				</div>
            			</div>
            		</div>
            	</div>
            </div>
		</div>
		<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
